{% extends "head.html" %}
{% load static %}
{% block body %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Doctor and Me</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
	<div class="container-fluid">
		 <div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
			  <ul class="nav nav-sidebar">
				<li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
	  
			  </ul>
			  
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					
					<div class="row">	
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3>Patient Profile</h3>
								
							</div>
							
							
							<div class="panel-body">
								
									<div class="well">
										<div class="container-fluid">
											<div class="row">
												<div class="col-lg-4" style="margin-left:0px;">
													<div class="panel panel-primary">
														<div class="panel-heading">
														
														<h4>Matt Hixon</h4>
														
														</div>
														<div class="panel-body">
															<div class="col-lg-12">
																
																<div class="row">
																	<ul class="list-group" style="margin-top: 15px">
																		<li class="list-group-item">Age: </li>
																		<li class="list-group-item">Sex: </li>
																		<li class="list-group-item">Date of Birth: </li>
																		<li class="list-group-item">Weight: </li>
																		<li class="list-group-item">Height: </li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													
												</div>
												 <div class="col-lg-8" style="padding-left: 0px">
												 
														
														 <div class="panel panel-info">
																<div class="panel-heading">
																<h4><span id="ContentSection_uxName">Case Summary</span></h4>
																	
																</div>
																<div class="panel-body">
																		   
																			<ul class="list-group">
																				<li class="list-group-item list-group-item-success"><span id="ContentSection_uxAge">
																					<div class="row"><div class="col-md-3"><strong>General Overview</strong></div><div class="col-md-3 offset-md-9"><strong>Date: </strong></div>
																				</li>
																				<li class="list-group-item list-group-item-warning">
																				Bacon ipsum dolor amet picanha pastrami chuck t-bone, alcatra cupim chicken shoulder shank biltong sausage. Bacon ham hock ham shankle jerky. Spare ribs ham meatball t-bone jowl frankfurter shoulder hamburger boudin rump drumstick. Ham t-bone sausage doner meatloaf kielbasa beef ribs pork. Brisket shoulder salami sausage meatball landjaeger. Tail beef ribs andouille leberkas. Pork salami ground round picanha alcatra kielbasa swine t-bone pork loin leberkas meatball sausage tail spare ribs.
																				
																				
																				
																				</li>

																			</ul>  
																   
																		</div>
															
															
																</div>
															</div>
													</div>
													
											<div class="row">
												<div class="col-lg-12">
													<div class="panel panel-default">
														<div class="panel-body" style="overflow-y: scroll; max-height: 200px;">
														<div class="col-lg-12">
															{% for p in patients %}
															<div class="row">
																<div class="panel panel-info">
																	<div class="panel-body">
																	<table class="table table-striped">
																		<tr><th>Date: </th><td> {{ p.cases.notes.time_entered }}</td><th>Note: </th><td> {{ p.cases.notes.description }}</td>
																	
																	</table>
																	
																	</div>
																</div>
															</div>
															{% endfor %}
															<!--<div class="row">
																<div class="panel panel-info">
																	<div class="panel-body">
																	<table class="table table-striped">
																		<tr><th>Date: </th><td> 09/30/2016</td><th>Symptons: </th><td> coughing</td><td><button type="submit" value="" class="btn btn-primary inline-block">Select</button></td></tr>
																	
																	</table>
																	
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="panel panel-info">
																	<div class="panel-body">
																	<table class="table table-striped">
																		<tr><th>Date: </th><td> 09/30/2016</td><th>Symptons: </th><td> coughing</td><td><button type="submit" value="" class="btn btn-primary inline-block">Select</button></td></tr>
																	
																	</table>
																	
																	</div>
																</div>
															</div-->
														</div>
														</div>
													</div>
												</div>	
											</div>
										</div>
											
									
									</div>																																					
										
										
										
							
							
						
						</div>
					</div>
				</div>
			
	
	
	
	
			</div>
	
{% endblock %}